#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* ========= TAB STYLES ========= */
.tab {
  border: 1px solid #cbd2d9;
  border-radius: 0.3rem;
  display: inline-flex;
  overflow: hidden;
}

.tab__item {
  background: #edf1f5;
  color: #333;
  outline: none;
  padding: 0.75em 0.75em 0.75em 1.25em;
  position: relative;
  text-decoration: none;
  transition: background 0.2s linear;
}

.tab__item:after,
.tab__item:before {
  background: #edf1f5;
  bottom: 0;
  clip-path: polygon(50% 50%, -50% -50%, 0 100%);
  content: '';
  left: 100%;
  position: absolute;
  top: 0;
  transition: background 0.2s linear;
  width: 1em;
  z-index: 1;
}

.tab__item:before {
  background: #cbd2d9;
  margin-left: 1px;
}

.tab__item:last-child {
  border-right: none;
}

.tab__item.is-active:after {
  background: white;
}

.tab__item.is-active:before {
  background: #cbd2d9;
}

.tab__item.is-active {
  background: white;
}
/* ========= END TAB STYLES ========= */
